<div class="container_menu">
    <div class="arrow-container">
    <i class="material-icons arrowTop">menu</i>
    </div>
    <nav class="menu">
        <div class="icon-container">
        <a href="/articulos">
        <i class="material-icons article-icon">article</i>
        <p class="text-icon">Artículos</p>
        </a>
        </div>
        <div class="icon-container">
        <a href="/">
        <i class="material-icons home-icon">home</i>
        <p class="text-icon">Inicio</p>
        </a>
        </div>
        <div class="icon-container">
        <a href="/notas-de-pedido">
        <i class="material-icons note-icon">note</i>
        <p class="text-icon">Notas de pedido</p>
        </a>
        </div>
    </nav>
</div>